{%extends "header.html"%}
{%block content%}
<header>
    <hd class="hd-con">
        <div class="logo-con">
            <a href="{%url 'dashboard:landing' %}">
                <p class="logo">WONYE</p>
            </a>
            
        </div>
        <div class="lne-con">
            <div class="line-lie"></div>
        </div>
        <div class="launch-con">
            <a href="{%url 'user_auth:signup' %}" class="lan-link">SIGNUP </a>
        </div>
    </hd>
</header>
<div class="middle-area-con">
    <div class="login-area-con">
        <h3 class="sign-text"> 🚪 LOGIN - </h3>
        <form action="{% url 'user_auth:authenticate_user' %}" method="post">
            {% csrf_token %}
            <label>Email</label>
            <input type="text" name="email" placeholder="User" required class="text-field">
            <br/><br/>
            <label>Password</label>
            <input type="password" name="password" required class="text-field">
            <br>
            <input type="submit" value="LOGIN" />
        </form>
        <div class="sign-up-con">
            <p>No account. Sign up now:</p>
            <br>
            <br>
            <button class="sig-but"> <a href="{%url 'user_auth:signup'%}" class="sig-text">SIGN UP</a></button>
        </div>
    </div>
</div>



{% endblock %}